*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #40484e;
  height: 100vh;
}

.col{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  align-items: center;
}



input {
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  background-color: #cccdd0;
  padding: 0.8rem;
  margin-bottom: 1rem;
}
label {
  margin: 0.5rem;
}


